.pageHeader {
  display: flex;
  padding: 0;
  .logo {
    width: 200px;
    height: 64px;
    text-align: center;
    background-color: orange;
  }
  .mainMenu {
    flex: 1;
  }
  .userInfo {
    width: 100px;
    color: #fff;
    text-align: right;
    font-size: 12px;
    padding-right: 12px;
    .logout {
      color: orange;
      padding-left: 12px;
      cursor: pointer;
    }
  }
}
.pageContent {
  height: calc(100vh - 64px);
  overflow: hidden;
  .siderBox {
    display: flex;
    flex-direction: column;
  }
  .subMenu {
    flex: 1;
    height: 100%;
    overflow-y: auto;
  }
  .mainContent {
    padding: 12px;
  }
}
